p {
	color: red;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}
.paragrafo {
	color: blue;

    .div {
     font-size: 16px;
    }
    
    .formatacao{
       text-decoration: underline;
    }
#noticias{
    background-color: chartreuse;
    border: 1px red solid;
    width: 250px;
    height: 180px;
    float: left;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-size: italic;
    font-family: 'Times New Roman', Times, serif;
}
.clear {
clear: both;
}

.texto1 {
color: blue;
font-size: 10px; /*px %, em */
/* font-family 'Times New Roman', Times, serif;  */

.texto2 {
color: blue;
font-size: 50px; /*px %, em */
font-weight: bold;
font-style: italic;
font-family: 'Times New Roman', Times, serif; 
}

</style> {
	color: blue;
}

}

#menu {
	border: 1px red solid;
 /* background-color: gray; */
 border-color: red green yellow blue;
 border-width: 1px 5px 8px 10px
 border-style: solid dotted dashed solid;

}
#rodape {
	border: 1px red solid;
 /* background-color: gray; */
 border-color: red green yellow blue;
 border-width: 1px 5px 8px 10px;
 border-style: solid ;
}
</.style>

/* galeria de fotos */
#galeria-fundo{
background-color: teal;
}


    #galeria-de-fotos{

    background-color: white;
    width: 500px;
    padding: 9px;
    float: left;
    margin: 1px;
  }

   #formato-texto{
   
    color: blue;
    font-size: 50px; /*px %, em */
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif; 

}



/* fim de galeria de foto
/* -------------------------*/
/* formatacao dos links */

a{
text-decoration:nome;
padding: 15px;

}
/* links não visitados */
a:link{
    color:#b9c941
}
/* links visitados */
a:visited{
    color: #c0c0c0;
}
/* links hover ,passa o cursor em cima */
a:hover{
    color: #fff;
}
/*link ativo, quando estive clicando */
a:active{
    color:#e4f371;
}
/* fim formataçao dos links */

/* posicionamento de elementos */

#conteudo-principal{

    background: white;
    padding:  10px;
    width: 600px;
    height: 200px;
    margin: 30px;
}
.box{
background: #1e6f44;
width: 100px;
height: 100px;
color: white ;
}

#posicao-relativa{
position: relative;
left: 10px;
top: 0;
width: 660px;
}

#posicao-absoluta
position: absolute;
botton: 0;
right: 30px;
}

#posicao-fixada{
position: fixed;
top: 0;
left: 0;
width:100% ;
background: black;

}








<tr>
			<td colspan="3">
				<div>
				<p>A paisagem é responsável por registrar vários aspectos representativos da sociedade. 
                    Nesse sentido, o conceito de paisagem amplia-se, na medida em que não se limita a uma divisão geográfica.</p>
				
                    <p class="texto2">Isso porque a paisagem tem importantes valores e várias funções. A paisagem que vemos 
                    hoje já pode ter passado por um processo de modificação possivelmente em decorrência do uso dado a ela.</p>
				
                    <p>Por outro lado,<span class="formatação"></spa>n> o aumento da população em determinada extensão territorial resulta na iminente
                     alteração para comportar as demandas populacionais. São exemplos: construção de casas, e outras obras, 
                     e pavimento de ruas.</p>
				</div>
                    
			</td>
		</tr>
